{% extends 'base.html' %}
{% block content%}
<div class="container"><br>
    <h1 style="text-align:center;">PARAGLIDING</h1><br>
<p>Paragliding is the recreational and competitive adventure sport of flying paragliders: lightweight, free-flying, foot-launched glider aircraft with no rigid primary structure. The pilot sits in a harness or lies supine in a cocoon-like 'speed bag' suspended below a fabric wing.</p>
<img src="https://static.toiimg.com/photo/60763742.cms"><br>
<h2>1. Bir-Billing: Best Paragliding Site in Asia</h2>
<p>Set in the backdrop of the beautiful Himachal Pradesh, the little village of Bir is practically the Paragliding Capital of India. The beautiful mountains, the greenery, the weather, everything is just so perfect. And paragliding adds a dash of adventure to the tranquil atmosphere. It is a perfect place for adventure junkies as well as country lovers. Bir is the take-off site and Billing, which is located at a distance of about 14 km from it, is the landing site. </p>
<img src="https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,q_auto/v1/filestore/7jyruc59vtg0pj9wcewlmgxvtd95_siebmstvoa3wsh2tes9j4y7n2986_1585664145_shutterstock_184631114.jpg">
</div>
{% endblock %}