{% extends 'base.html' %}
{% block content %}
<style>
    .form {
        text-align:center;
        margin-bottom:10%;
        background: cornsilk;
        padding: 50px 50px;
        margin-top:10%;
    }
</style>

<body>
    <div class="form">
    <form method="post">
        {% csrf_token %}
        Username   <input type="text" name="username"><br><br>
        Password   <input type="password" name="password"><br><br>
        <button type="submit">Log In </button>
        
        </form>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
</body>
{% endblock %}